// $color-primary: #f59a83;
$color-primary: #50ed99;
$color-secondary: #b9ffc3;
$color-third: #ff886b;
$color-dark-1: #38332d;
$color-dark-2: #26231f;
$color-dark-3: #4b453d;
$color-grey-1: #999999;
$color-grey-2: #c0c0c0;
$color-light-1: #d9d9d9;

$color-grey-light-1: #d9d9d9; // Light background
$color-grey-light-2: #eaeaea; // Light lines
$color-grey-light-3: #cecece; // Light text (placeholder)
// $color-grey-dark-1: #26231f; // Normal text
$color-t-dark: #26231f; // Normal text
// $color-grey-dark-2: #d9d9d9; // Lighter text
$color-t-light: #d9d9d9; // Lighter text

$gradient: linear-gradient(to right bottom, $color-primary, $color-secondary);
$grey-gradient: linear-gradient(to right bottom, $color-grey-1, $color-grey-2);
$bg-gradient: linear-gradient(to right bottom, $color-dark-1, $color-dark-2);
$dark-gradient: linear-gradient(
  to bottom,
  rgba($color-dark-2, 100%),
  rgba($color-dark-2, 0)
);
$dark-gradient-reverse: linear-gradient(
  to bottom,
  rgba($color-dark-2, 0),
  rgba($color-dark-2, 80%)
);
$light-gradient: linear-gradient(
  to bottom,
  rgba($color-light-1, 0),
  rgba($color-light-1, 100%)
);

$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

$header-height: 10rem;
$z-index: 50;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $color-t-dark;
  background-image: $bg-gradient;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 2 * 4vw);
}

.container {
  position: relative;
  max-width: 120rem;
  min-height: 117rem;
  margin: 4vw auto;
  overflow: hidden;
  background: $color-dark-2;

  display: grid;
  grid-template-rows: $header-height minmax(100rem, auto);
  grid-template-areas:
    "head"
    "preview";

  @media only screen and (max-width: $bp-large) {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }
}
