@use "base";

.header {
  position: relative;
  grid-area: head;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: base.$dark-gradient;
  z-index: base.$z-index;

  &__logo {
    line-height: 2.5rem;
    font-size: 2.5rem;
    margin-left: 2.5rem;
    color: base.$color-primary;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  }
}

.nav {
  align-self: stretch;

  &__list {
    list-style: none;
    display: flex;
    height: 100%;
  }

  &__item {
    position: relative;
  }

  &__btn {
    height: 100%;
    font-family: inherit;
    color: base.$color-primary;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 2rem;
    transition: all 0.3s;

    display: flex;
    align-items: center;

    svg {
      height: 2.4rem;
      width: 2.4rem;
      fill: base.$color-primary;
      margin-right: 0.7rem;
      transform: translateY(-1px);
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: rgba(base.$color-dark-1, 0.8);
    }
  }
}

.saved {
  position: absolute;
  right: 0;
  // right: -2.5rem;
  z-index: 10;
  width: 35rem;
  background-color: base.$color-dark-1;
  box-shadow: 0 0.8rem 5rem 2rem rgba(base.$color-t-dark, 0.1);

  visibility: hidden;
  opacity: 0;
  transition: all 0.5s 0.2s;

  &__list {
    list-style: none;
  }

  &__field {
    cursor: pointer;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    padding: 1rem 2rem;
    transition: all 0.3s;

    &:hover,
    &--active {
      background-color: base.$color-dark-3;
    }
  }

  .preview__item {
    border-radius: 1rem;
  }

  .preview__info {
    position: relative;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;

    span {
      font-size: 1.3rem;
      color: base.$color-t-light;
    }
    h2 {
      font-size: 1.5rem;
    }

    .author > div {
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      color: base.$color-t-light;
    }
  }

  &__icon {
    width: 100%;
    height: 100%;

    .nav__btn {
      position: absolute;
      right: 0;
      bottom: 0.5rem;
      align-items: unset;
      height: unset;
      transition: all 0.3s;

      svg {
        margin: 0 auto;
        padding: 0.8rem;
        height: 5.5rem;
        width: 5.5rem;
      }

      &:hover {
        background-color: unset;
        transform: scale(1.2);
      }
    }
  }

  &:hover,
  .nav__btn--saved:hover + & {
    visibility: visible;
    opacity: 1;
  }
}

.start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__btn {
    color: base.$color-t-dark;
  }
}
