@use "base";

.header {
  position: relative;
  grid-area: head;
  display: flex;
  align-items: center;
  justify-content: start;
  background: base.$dark-gradient;
  z-index: base.$z-index;

  &__logo {
    line-height: 2.5rem;
    font-size: 2.5rem;
    margin: 0 2.5rem;
    color: base.$color-primary;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  }
}

.nav {
  align-self: stretch;

  &__list {
    list-style: none;
    display: flex;
    height: 100%;
  }

  &__item {
    position: relative;

    &:hover > .nav__btn {
      background-color: rgba(base.$color-dark-1, 0.8);
    }
  }

  &__btn {
    height: 100%;
    font-family: inherit;
    color: base.$color-primary;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 2rem;
    transition: all 0.3s;

    display: flex;
    align-items: center;

    svg {
      height: 2.4rem;
      width: 2.4rem;
      fill: base.$color-primary;
      margin-right: 0.7rem;
      transform: translateY(-1px);
    }

    &:focus {
      outline: none;
    }
  }
}

.start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__btn {
    color: base.$color-t-dark;
  }

  @media only screen and (max-width: base.$bp-medium) {
    position: fixed;
    top: unset;
    bottom: 2rem;
    height: auto;
  }
}

.weather {
  position: absolute;
  right: 0;
  height: 5rem;
  color: base.$color-primary;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  margin-right: 2.5rem;
  max-width: 40rem;

  &__icon {
    img {
      height: 5rem;
      width: 5rem;
    }
  }

  &__description {
    font-size: 1.5rem;
    display: inline-block;
    width: 100%;
    display: flex;
    gap: 1rem;

    p {
      text-transform: capitalize;
    }

    p:last-child {
      @media only screen and (max-width: base.$bp-small) {
        display: none;
      }
    }
  }
}
