@use "base";

.saved {
  position: relative;
  left: 0;
  z-index: 10;
  width: 35rem;
  height: auto;
  background-color: base.$color-dark-1;
  box-shadow: 0 0.8rem 5rem 2rem rgba(base.$color-t-dark, 0.1);
  clip-path: inset(0 0 100% 0);

  @media only screen and (max-width: base.$bp-small) {
    position: fixed;
    left: 0;
    width: 100vw;
  }

  &__list {
    list-style: none;
  }

  &__field {
    cursor: pointer;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    padding: 1.5rem 2rem;
    transition: all 0.3s;

    &:hover,
    &--active {
      background-color: base.$color-dark-3;
    }
  }

  .preview__item {
    border-radius: 1rem;
  }

  .preview__info {
    position: relative;
    padding: 0;
    display: inline-block;

    span {
      font-size: 1.3rem;
      color: base.$color-t-light;
    }
    h2 {
      font-size: 1.5rem;
    }

    .author > div {
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      color: base.$color-t-light;
    }
  }

  &__icon {
    width: 100%;
    height: 100%;

    .nav__btn {
      position: absolute;
      right: 0;
      bottom: 0.5rem;
      align-items: unset;
      height: unset;
      transition: all 0.3s;

      svg {
        margin: 0 auto;
        padding: 0.8rem;
        height: 5.5rem;
        width: 5.5rem;
      }

      &:hover {
        background-color: unset;
        transform: scale(1.2);
      }
    }
  }

  // &:hover,
  // .nav__btn--saved:hover + & {
  //   animation: reveal 1s forwards cubic-bezier(0.77, 0, 0.175, 1);
  // }
}

.reveal {
  animation: reveal 1s forwards cubic-bezier(0.77, 0, 0.175, 1);
}

.conceal {
  animation: conceal 1s forwards cubic-bezier(0.77, 0, 0.175, 1);
}

@keyframes reveal {
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes conceal {
  to {
    clip-path: inset(0 0 100% 0);
  }
}
